

body, html {
  height: 100%;
}
body {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: fit-content;
}

.gradient-custom-2 {

  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(15deg, #0C4FF5 0%, #80d0c7 100%);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    