.logo {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 500; }
    .logo:hover {
      color: #fff !important; }
  
  .site-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%; }
    .site-nav h1, .site-nav .h1 {
      margin: 0;
      padding: 0;
      font-size: 24px; }
    .site-nav .site-navigation .site-menu {
      margin-bottom: 0; }
      .site-nav .site-navigation .site-menu > li {
        display: inline-block; }
        .site-nav .site-navigation .site-menu > li > a {
          font-size: 14px;
          padding: 10px 15px;
          display: inline-block;
          text-decoration: none !important;
          color: rgba(255, 255, 255, 0.5); }
          .site-nav .site-navigation .site-menu > li > a:hover {
            color: #fff; }
        .site-nav .site-navigation .site-menu > li.cta-button a {
          padding: 6px 20px;
          border: 2px solid rgba(0, 0, 0, 0.1);
          color: #000;
          border-radius: 30px; }
          .site-nav .site-navigation .site-menu > li.cta-button a:hover {
            color: #000;
            background: #00204a;
            border-color: #00204a; }
        .site-nav .site-navigation .site-menu > li.active > a {
          color: #fff; }
      .site-nav .site-navigation .site-menu .has-children {
        position: relative; }
        .site-nav .site-navigation .site-menu .has-children > a {
          position: relative;
          padding-right: 20px; }
          .site-nav .site-navigation .site-menu .has-children > a:before {
            position: absolute;
            content: "\e313";
            font-size: 14px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'icomoon'; }
        .site-nav .site-navigation .site-menu .has-children .dropdown {
          visibility: hidden;
          opacity: 0;
          top: 100%;
          z-index: 999;
          position: absolute;
          text-align: left;
          -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          padding: 20px 0;
          margin-top: 20px;
          margin-left: 0px;
          background: #fff;
          -webkit-transition: 0.2s 0s;
          -o-transition: 0.2s 0s;
          transition: 0.2s 0s; }
          .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top {
            position: absolute; }
            .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              display: none;
              bottom: 100%;
              left: 20%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none; }
            .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
              display: none;
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #fff;
              border-width: 10px;
              margin-left: -10px; }
          .site-nav .site-navigation .site-menu .has-children .dropdown a {
            font-size: 14px;
            text-transform: none;
            letter-spacing: normal;
            -webkit-transition: 0s all;
            -o-transition: 0s all;
            transition: 0s all;
            color: #000; }
          .site-nav .site-navigation .site-menu .has-children .dropdown .active a {
            color: #00204a !important; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li {
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 180px; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li > a {
              padding: 5px 20px;
              display: block; }
              .site-nav .site-navigation .site-menu .has-children .dropdown > li > a:hover {
                color: #00204a; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
              content: "\e315";
              right: 20px; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
              left: 100%;
              top: 0; }
              .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown li a:hover, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul li a:hover {
                color: #00204a; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
              color: #00204a; }
        .site-nav .site-navigation .site-menu .has-children:hover > a, .site-nav .site-navigation .site-menu .has-children:focus > a, .site-nav .site-navigation .site-menu .has-children:active > a {
          color: #fff; }
        .site-nav .site-navigation .site-menu .has-children:hover, .site-nav .site-navigation .site-menu .has-children:focus, .site-nav .site-navigation .site-menu .has-children:active {
          cursor: pointer; }
          .site-nav .site-navigation .site-menu .has-children:hover > .dropdown, .site-nav .site-navigation .site-menu .has-children:focus > .dropdown, .site-nav .site-navigation .site-menu .has-children:active > .dropdown {
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
            margin-top: 0px;
            visibility: visible;
            opacity: 1; }
  
  .site-mobile-menu-close {
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 99;
    cursor: pointer;
    top: -20px; }
    .site-mobile-menu-close > span {
      cursor: pointer;
      display: block;
      position: absolute;
      height: 30px;
      width: 30px; }
      .site-mobile-menu-close > span:before, .site-mobile-menu-close > span:after {
        position: absolute;
        content: "";
        width: 2px;
        height: 30px;
        background: #000; }
      .site-mobile-menu-close > span:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .site-mobile-menu-close > span:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1); }
    .offcanvas-menu .site-mobile-menu {
      -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
      box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    .site-mobile-menu .site-mobile-menu-header {
      width: 100%;
      float: left;
      padding-left: 20px;
      padding-right: 20px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
        float: right;
        margin-top: 8px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
          font-size: 30px;
          display: inline-block;
          padding-left: 10px;
          padding-right: 0px;
          line-height: 1;
          cursor: pointer;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
        float: left;
        margin-top: 10px;
        margin-left: 0px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
          display: inline-block;
          text-transform: uppercase; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
            max-width: 70px; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
            text-decoration: none; }
    .site-mobile-menu .site-mobile-menu-body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding: 0 20px 20px 20px;
      height: calc(100vh - 52px);
      padding-bottom: 150px; }
    .site-mobile-menu .site-nav-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative; }
      .site-mobile-menu .site-nav-wrap a {
        padding: 5px 20px;
        display: block;
        position: relative;
        color: #000; }
        .site-mobile-menu .site-nav-wrap a:hover {
          color: #00204a; }
      .site-mobile-menu .site-nav-wrap li {
        position: relative;
        display: block; }
        .site-mobile-menu .site-nav-wrap li.active > a {
          color: #00204a; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 20;
        width: 36px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #f8f9fa; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
          font-size: 14px;
          z-index: 20;
          font-family: "icomoon";
          content: "\e313";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .site-mobile-menu .site-nav-wrap > li {
        display: block;
        position: relative;
        float: left;
        width: 100%; }
        .site-mobile-menu .site-nav-wrap > li > a {
          padding-left: 20px;
          font-size: 14px; }
        .site-mobile-menu .site-nav-wrap > li > ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .site-mobile-menu .site-nav-wrap > li > ul > li {
            display: block; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > a {
              padding-left: 40px;
              font-size: 14px; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
              padding: 0;
              margin: 0; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
                display: block; }
                .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                  font-size: 14px;
                  padding-left: 60px; }
  
  .sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%; }
    .sticky-wrapper .site-navbar {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .sticky-wrapper .site-navbar .site-menu-toggle {
      color: #000; }
    .sticky-wrapper .site-navbar .site-logo a {
      color: #000; }
    .sticky-wrapper .site-navbar .site-menu > li > a {
      color: rgba(0, 0, 0, 0.8) !important; }
      .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
        color: #000 !important; }
    .sticky-wrapper.is-sticky .burger:before, .sticky-wrapper.is-sticky .burger span, .sticky-wrapper.is-sticky .burger:after {
      background: #000;
      -webkit-transition: .0s all ease;
      -o-transition: .0s all ease;
      transition: .0s all ease; }
    .sticky-wrapper.is-sticky .site-navbar {
      background: #000;
      border-bottom: 1px solid transparent;
      -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
      box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
      .sticky-wrapper.is-sticky .site-navbar .site-logo a {
        color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
        color: #000 !important; }
        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
          color: #00204a !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li.active a {
        color: #00204a !important; }
    .sticky-wrapper .shrink {
      padding-top: 0px !important;
      padding-bottom: 0px !important; }
  
  /* Burger */
  .burger {
    width: 28px;
    height: 32px;
    cursor: pointer;
    position: relative; }
    .burger.light:before, .burger.light span, .burger.light:after {
      background: #fff; }
  
  .burger:before, .burger span, .burger:after {
    width: 100%;
    height: 2px;
    display: block;
    background: #000;
    border-radius: 2px;
    position: absolute;
    opacity: 1; }
  
  .burger:before, .burger:after {
    -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    content: ""; }
  
  .burger:before {
    top: 4px; }
  
  .burger span {
    top: 15px; }
  
  .burger:after {
    top: 26px; }
  
  /* Hover */
  .burger:hover:before {
    top: 7px; }
  
  .burger:hover:after {
    top: 23px; }
  
  /* Click */
  .burger.active span {
    opacity: 0; }
  
  .burger.active:before, .burger.active:after {
    top: 40%; }
  
  .burger.active:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    /*for IE*/ }
  
  .burger.active:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
    /*for IE*/ }
  
  .burger:focus {
    outline: none; }
  
  html {
    overflow-x: hidden; }
  
  body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden; }
    body:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden; }
    body.offcanvas-menu:before {
      opacity: 1;
      visibility: visible; }
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .logo {
    font-family: "Work Sans", sans-serif;
    color: #00204a; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none; }
  
  .form-control {
    font-size: 16px;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px; }
    .form-control:hover, .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  textarea {
    height: auto !important; }
  
  #overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  
  .loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
  .menu-bg-wrap {
    background-color: #6dbbcf;
    padding: 20px 30px;
    position: relative;
    float: left;
    width: 100%;
    border-radius: 7px;
    -webkit-box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.1); }
  
  .hero {
    position: relative;
    background-size: cover;
    background-position: cnter center;
    background-repeat: no-repeat;
    background-color: #00204a; }
    .hero.overlay {
      position: relative; }
      .hero.overlay:before {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1; }
    .hero, .hero > .container > .row {
      height: 100vh;
      min-height: 600px; }
    .hero.page-inner, .hero.page-inner > .container > .row {
      height: 70vh;
      min-height: 300px; }
    .hero > .container {
      position: relative;
      z-index: 2; }
    .hero .heading {
      color: #fff;
      margin-bottom: 30px;
      font-weight: 600; }
    .hero .lead {
      color: #fff;
      font-size: 14px;
      margin-bottom: 30px; }
    .hero .narrow-w {
      max-width: 600px;
      margin: 0 auto; }
    .hero .form-search .form-control {
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
      border-radius: 30px; }
      .hero .form-search .form-control:hover, .hero .form-search .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .hero .form-search .form-control {
      margin-right: 10px; }
    .hero .form-search .btn {
      background-color: #00569c;
      padding-left: 30px;
      padding-right: 30px;
      color: #fff; }
      .hero .form-search .btn:hover, .hero .form-search .btn:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
  
  .hero-slide {
    top: 0;
    position: absolute;
    left: 0;
    right: 0; }
    .hero-slide .img {
      height: 100vh;
      min-height: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
      .hero-slide .img.overlay {
        position: relative; }
        .hero-slide .img.overlay:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          z-index: 1;
          background: rgba(34, 34, 34, 0.4); }
  

          

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .section .heading {
      font-weight: 500; }
      @media (max-width: 767.98px) {
        .section .heading {
          font-size: 36px; } }
  
  .testimonial blockquote {
    font-style: 18px;
    color: #000; }
  
  .bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .bg-image.overlay {
      position: relative; }
      .bg-image.overlay:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        background: rgba(34, 34, 34, 0.97); }
    .bg-image > .container, .bg-image .custom-box {
      position: relative;
      z-index: 2; }
  
  .btn {
    text-decoration: none !important;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-width: 2px;
    border-color: transparent;
    border: none !important;
    top: 0;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .btn.btn-primary {
      background: #80d0c7;
      color: #fff; }
    .btn:hover {
      top: -2px;
      -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); }
  
  .hero-slider-wrap .tns-controls {
    position: absolute;
    z-index: 2; }
    .hero-slider-wrap .tns-controls button {
      background: none;
      border: none; }
  
  .hero-slider-wrap .tns-nav {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2; }
    .hero-slider-wrap .tns-nav button {
      background: none;
      border: none;
      display: block;
      margin: 2px;
      height: 15px; }
      .hero-slider-wrap .tns-nav button:active, .hero-slider-wrap .tns-nav button:focus {
        outline: none; }
      .hero-slider-wrap .tns-nav button:before {
        position: absolute;
        content: "";
        width: 15px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        right: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .hero-slider-wrap .tns-nav button.tns-nav-active:before {
        background-color: #fff;
        width: 35px; }
  
  .property-slider-wrap, .img-property-slide-wrap {
    position: relative; }
    .property-slider-wrap .tns-outer .tns-inner, .img-property-slide-wrap .tns-outer .tns-inner {
      padding-bottom: 100px !important; }
    .property-slider-wrap .tns-nav, .img-property-slide-wrap .tns-nav {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 40px;
      z-index: 2; }
      .property-slider-wrap .tns-nav button, .img-property-slide-wrap .tns-nav button {
        background: none;
        border: none;
        display: inline-block;
        margin: 2px;
        position: relative; }
        .property-slider-wrap .tns-nav button:active, .property-slider-wrap .tns-nav button:focus, .img-property-slide-wrap .tns-nav button:active, .img-property-slide-wrap .tns-nav button:focus {
          outline: none; }
        .property-slider-wrap .tns-nav button:before, .img-property-slide-wrap .tns-nav button:before {
          position: absolute;
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.2);
          right: 0;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .property-slider-wrap .tns-nav button.tns-nav-active:before, .img-property-slide-wrap .tns-nav button.tns-nav-active:before {
          background-color: #00204a; }
  
  .gradient-text {
    font-weight: 700;
    background: -webkit-gradient(linear, right top, left top, from(#f82a7e), to(#752a90));
    background: -webkit-linear-gradient(right, #f82a7e 0%, #752a90 100%);
    background: -o-linear-gradient(right, #f82a7e 0%, #752a90 100%);
    background: linear-gradient(270deg, #f82a7e 0%, #752a90 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  
  .property-item.mb-30 {
    margin-bottom: 30px; }
  
  .property-item .img {
    position: relative;
    z-index: 1; }
  
  .property-item .property-content {
    background: #fff;
    padding: 30px;
    font-size: 13px;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    z-index: 2; }
    .property-item .property-content .price, .property-item .property-content .city {
      font-size: 20px;
      font-weight: 700;
      color: #000; }
    .property-item .property-content .price {
      color: #005555; }
      .property-item .property-content .price span {
        position: relative;
        padding-bottom: 4px;
        display: inline-block; }
        .property-item .property-content .price span:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          left: 0;
          bottom: 0;
          background-color: #005555; }
    .property-item .property-content .specs {
      font-size: 18px; }
      .property-item .property-content .specs .caption {
        font-size: 13px; }
  
  .slider-nav {
    margin-top: -100px;
    position: relative; }
    .slider-nav span {
      cursor: pointer;
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: white; }
  
  .section-2 {
    position: relative;
    background-color: #333;
    z-index: 2; }
    .section-2 .custom-box {
      position: relative;
      padding-top: 7rem;
      padding-bottom: 3rem;
      bottom: -30px; }
  
  .section-3 {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    padding-top: 10rem; }
  
  .section-4 {
    background-color: #fff; }
    .section-4 .img-about {
      background-size: cover;
      background-position: center center; }
      .section-4 .img-about img {
        -o-object-fit: cover;
        object-fit: cover; }
  
  .feature-h {
    margin-bottom: 30px; }
    .feature-h .wrap-icon {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      height: 80px;
      background: #efefef;
      color: #000;
      position: relative;
      border-radius: 50%;
      border: 2px solid transparent;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
      .feature-h .wrap-icon [class^="icon-"] {
        position: absolute;
        left: 50%;
        font-size: 20px;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .feature-h svg {
          margin-top: 30%;
          margin-left: 30%;
        }
    .feature-h .feature-text {
      margin-top: 15px; }
      .feature-h .feature-text .heading {
        font-size: 18px; }
    .feature-h:hover .wrap-icon, .feature-h:focus .wrap-icon {
      border: 2px solid #00204a;
      background-color: transparent;
      -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
      transform: scale(1.07); }
    .feature-h:hover [class^="icon-"], .feature-h:focus [class^="icon-"] {
      color: #00204a; }
  
  .img-about img {
    position: relative;
    z-index: 2; }
  
  .img-about.dots {
    position: relative; }
    .img-about.dots:after {
      position: absolute;
      z-index: 1;
      bottom: -50px;
      right: -70px;
      content: "";
      width: 412px;
      height: 220px;
      background: url("../images/dots.png") no-repeat; }
  
  .social a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #00204a;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border: 2px solid transparent;
    position: relative;
    top: 0; }
    .social a span {
      font-size: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .social a:hover {
      top: -5px;
      background: transparent;
      border: 2px solid #fff; }
  
  .social.dark-hover a:hover {
    color: #00204a;
    border: 2px solid #00204a; }
  
  .links-arrow-before li {
    margin-bottom: 15px;
    position: relative; }
    .links-arrow-before li a {
      color: #afafaf;
      position: relative;
      padding-left: 20px;
      text-decoration: none; }
      .links-arrow-before li a:hover {
        color: #fff; }
      .links-arrow-before li a:before {
        content: "\e5c8";
        font-family: "icomoon";
        left: 0;
        top: 0;
        position: absolute; }
  
  .person {
    text-align: center;
    background-color: #fff;
    border-radius: 4px; }
    .person img {
      position: relative;
      width: 90px;
      border-radius: 50%;
      margin: -45px auto 0 auto; }
    .person .person-contents {
      padding: 30px; }
      .person .person-contents h2, .person .person-contents .h2 {
        font-size: 18px; }
        .person .person-contents h2 a, .person .person-contents .h2 a {
          color: #000;
          text-decoration: none; }
      .person .person-contents p {
        font-size: 14px; }
  
  .meta {
    color: #888; }
  
  .hero-slider-wrap {
    position: relative; }
    .hero-slider-wrap:hover #hero-nav {
      opacity: 1;
      visibility: visible; }
  
  #hero-nav {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 110px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    #hero-nav .prev, #hero-nav .next {
      position: absolute;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      cursor: pointer; }
      #hero-nav .prev:hover, #hero-nav .next:hover {
        color: white; }
    #hero-nav .prev {
      right: 60px; }
    #hero-nav .next {
      right: 20px; }
  
  #property-nav {
    position: absolute;
    width: 100%;
    bottom: 64px; }
    #property-nav span {
      display: inline-block;
      cursor: pointer;
      padding: 7px 20px;
      border-radius: 30px;
      background: rgba(0, 32, 74, 0.1);
      color: #00204a;
      text-align: center;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      #property-nav span:hover, #property-nav span.active {
        background: #00204a;
        color: #fff !important; }
    #property-nav .prev, #property-nav .next {
      position: absolute;
      cursor: pointer; }
      #property-nav .prev:hover, #property-nav .next:hover {
        color: #00204a; }
    #property-nav .prev {
      left: 0; }
    #property-nav .next {
      right: 0; }
  
  .counter-wrap .number {
    font-size: 40px;
    display: block;
    font-weight: 700; }
  
  .features-1 {
    padding-top: 30px;
    position: relative;
    z-index: 8;
    text-align: center;
    background-color: rgba(0, 32, 74, 0.05); }
  
  .box-feature {
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px; }
    .box-feature h3, .box-feature .h3 {
      font-size: 16px;
      margin: 0;
      padding: 0; }
    .box-feature [class^="flaticon-"] {
      color: #00204a;
      font-size: 60px;
      margin: 0 0 10px 0;
      display: block;
      padding: 0;
      line-height: 0; }
  
  .custom-pagination a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    border-radius: 50%;
    background: rgba(0, 32, 74, 0.1);
    color: #00204a;
    text-align: center; }
    .custom-pagination a:hover, .custom-pagination a.active {
      background: #00204a;
      color: #fff; }
  
  .agent-box {
    margin-top: 50px;
    border: 2px solid #efefef;
    padding: 20px;
    border-radius: 4px; }
    .agent-box .img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
      flex: 0 0 100px; }
      .agent-box .img img {
        width: 80px;
        border-radius: 50%; }
    .agent-box .text h3, .agent-box .text .h3 {
      font-size: 16px; }
  
  .testimonial-slider-wrap {
    position: relative; }
    .testimonial-slider-wrap .tns-nav {
      position: absolute;
      bottom: -50px;
      z-index: 2;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      .testimonial-slider-wrap .tns-nav button {
        background: none;
        border: none;
        display: inline-block;
        margin: 2px;
        height: 15px; }
        .testimonial-slider-wrap .tns-nav button:active, .testimonial-slider-wrap .tns-nav button:focus {
          outline: none; }
        .testimonial-slider-wrap .tns-nav button:before {
          position: absolute;
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.3);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .testimonial-slider-wrap .tns-nav button.tns-nav-active:before {
          background-color: #00204a; }
  
  #testimonial-nav span {
    display: inline-block;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 30px;
    background: rgba(0, 32, 74, 0.1);
    color: #00204a;
    text-align: center;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    #testimonial-nav span:hover, #testimonial-nav span.active {
      background: #00204a;
      color: #fff !important; }
  
  .custom-mb {
    margin-bottom: 80px; }
  
  .has-arrow {
    text-decoration: underline;
    position: relative; }
    .has-arrow:hover {
      text-decoration: none; }
    .has-arrow [class^="icon-"] {
      position: relative;
      display: inline-block;
      margin-left: 10px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      top: 2px; }
  
  nav[aria-label="breadcrumb"] a {
    color: #fff; }
  
  nav[aria-label="breadcrumb"] li:before {
    color: rgba(255, 255, 255, 0.3) !important; }
  
  .learn-more {
    position: relative;
    display: inline-block;
    padding-bottom: 10px; }
    .learn-more:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 2px;
      background-color: #005555;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .learn-more:hover:before {
      width: 0%; }
  
  .sec-testimonials {
    padding-bottom: 8rem; }
  
  .contact-info i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #00204a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff; }
  
  .contact-info h4, .contact-info .h4 {
    font-size: 18px;
    padding: 0 0 0 60px; }
  
  .contact-info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px; }
  
  .site-footer {
    background: #efefef;
    font-size: 14px;
    color: #888;
    padding: 70px 0; }
    .site-footer a {
      color: #777;
      position: relative;
      display: inline-block;
      text-decoration: underline; }
      .site-footer a:hover {
        color: #000;
        text-decoration: none; }
        .site-footer a:hover:before {
          background: #00204a; }
    .site-footer .footer-cta h2, .site-footer .footer-cta .h2 {
      font-size: 30px;
      color: #00204a; }
    .site-footer .btn:before {
      display: none; }
    .site-footer .widget {
      margin-bottom: 40px;
      display: block; }
      .site-footer .widget h3, .site-footer .widget .h3 {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #00204a; }
      .site-footer .widget .links {
        width: 150px; }
        .site-footer .widget .links li {
          margin-bottom: 10px; }
    .site-footer .social li {
      display: inline-block; }
      .site-footer .social li a {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative;
        background: #ccc;
        border-radius: 40%; }
        .site-footer .social li a:before {
          display: none; }
        .site-footer .social li a > span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .site-footer .social li a:hover {
          background: #00204a;
          color: #fff; }

          .header-one .header-shape {
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            width: 100%;
          }


.nav-tabs {
  border-bottom: 1px solid #ecf3f2;
  margin-bottom: 40px;
  justify-content: center;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: var(--p-color);
  font-family: var(--title-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-medium);
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 20px;
}


  /*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  background-image: linear-gradient(15deg, #0C4FF5 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 200px;
}


.hero-section .input-group {
  background-color:#fff ;
  border-radius: 100px;
  padding: 10px 15px;
  z-index: 3;
}

.hero-section .input-group-text {
  background-color: transparent;
  border: 0;
}

.hero-section input[type="search"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-section button[type="submit"] {
  background-color: #80d0c7;
  border: 0;
  border-radius: 100px !important;
  color: #fff;
  max-width: 150px;
}

.header-shape {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;

}




/*---------------------------------------
  TOPICS              
-----------------------------------------*/
.featured-section {
 
  /* background-image: linear-gradient(180deg, #5d8bff 0%, #80d0c7 100%); */
  border-radius: 0 0 100px 100px;
  
}

.featured-section .row {
  position: relative;
  bottom: 100px;
  margin-bottom: -100px;
}

.custom-block {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
  height: 100%;
}

.custom-block:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
}

.custom-block > a {
  width: 100%;
}

.custom-block-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
 
}

.custom-block-image-adv {
  display: block;
  object-fit: cover;
  margin-top: 35px;
}

.custom-block-image-featured {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.custom-block .rounded-pill {
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 79px;
  height: 30px;
  line-height: 20px;
}

.custom-block-overlay {
  height: 100%;
  min-height: 350px;
  padding: 0;
}

.custom-block-overlay > a {
  height: 100%;
}

.custom-block-overlay .custom-block-image {
  border-radius: 20px;
  display: block;
  height: 100%;
  margin-top: 0;
}

.custom-block-overlay-text {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.social-share {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 20px 35px;
}

.section-counter{
  padding-top: 100px;
}

.custom-size {
    width: 400px; /* Ganti dengan ukuran yang diinginkan */
    height: 400px; /* Ganti dengan ukuran yang diinginkan */
    object-fit: cover; /* Mengatur gambar agar tetap proporsional */
  }



  